body {
    font-family: 'Gemunu Libre', sans-serif;
    background-image: url(foxbg.jpg);
    background-repeat: no-repeat;
    text-shadow: 2px gray;

}

h1 {
    font-size: 80px;
}

.head {
    text-align: center;
}