body {
    font-family: 'Gemunu Libre', sans-serif;
    background-image: url(foxbg.jpg);
    background-repeat: no-repeat;
    text-shadow: 2px gray;

}

h1 {
    font-size: 80px;
    text-shadow: 2px 2px rgb(84, 1, 1)
}

.head {
    text-align: center;
}

.para-one {
    background-color: rgb(251, 83, 53);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: aliceblue;

}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-color: linear-gradient(tomato, rgb(43, 3, 3));
}